@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: InterVariable, sans-serif; /* Inter font is used as the default font named font-sans */
  --font-roboto: 'Roboto', 'sans-serif';

  --border-my-grid: 1px solid rgba(0, 0, 0, 0.12);
}

/* V4 new config directive to load explicitly old V3 JS config file for backwards compatibility */
/* In case the old tailwind directives are not needed anymore, just remove this line and the 'tailwind.config.js' file */
@config "../tailwind.config.ts";
